<div class="container">
  <div class="jumbotron" >
    <h1>Movie</h1>
    <%= raise movie.inspect %>
    <p><%= @movie[:title] %></p>
    <p><%= @movie[:year] %></p>
    <p><%= @movie[:plot] %></p>
    <p><%= @movie[:director]%></p>
    <p><%= @movie[:genre]%></p>
    <p><%= @movie[:rating]%></p>
  </div>
</div>
