<!DOCTYPE html>
<html>
  <head>
    <title>Grety</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div>
      <nav class="container d-flex justify-content-between mt-2">
        <a href="/about/index">
          <img src="https://static.thenounproject.com/png/227875-200.png" alt="" height="50" width="50">
        </a>
        <h1 class="display-1 text-center">
          <a href="/" class="blog-header-logo text-dark" style="text-decoration: none;">Gerty</a>
        </h1>
        <a href="/history">
          <img src="https://static.thenounproject.com/png/2186680-200.png" alt="" height="50" width="50">
        </a>
      </nav>
    </div>
    <div class="container">
      <%= form_tag '/', method: :get do %>
        <div class="input-group mb-3">
          <%= text_field_tag :query, nil, class: 'form-control', placeholder: "giphy / weather / movie / quote"%>
          <div class="input-group-append">
            <%= submit_tag 'Search', class:"btn btn-outline-light",id:"button-addon2" %>
          </div>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
